@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  
}

.font-kanit {
  font-family: 'Kanit', sans-serif;
}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1919; 
}

::-webkit-scrollbar-thumb {
  background: rgb(250 204 21);
  opacity: 1;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}

.searchInputWrapper {
  position: relative;
}

.searchInput {
  margin-right: 10px;
  width: 10rem;
  height: 2rem;
  padding: 0 1rem; 
  font-size: 12px;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255);
  transition: transform 0.1s ease-in-out;
  background-color: transparent;
}

::placeholder {
  color: #a1a1a1;
}

:focus::placeholder {
  text-indent: -999px
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
}

.searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.myMap {
  filter: grayscale(1) contrast(1) opacity(0.9);
}